%section
  %header
    %h1.sect-head.bg-green Everyone - Here's how it works
  .row
    .span5
      .row
        %aside.span2
          %h3 Unordered list
          %ul
            %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            %li Aliquam tincidunt mauris eu risus.
        %aside.span2.offset
          %h3 Ordered list
          %ol
            %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            %li Aliquam tincidunt mauris eu risus.
      .row
        %aside.span5
          %h3 Dictionary list
          %dl
            %dt Шапка
            %dd Russian word for hat.
            %dt клубника
            %dd Russian word for strawberry.
      %h3 Code block
      %pre
        %code
          :preserve    
            #header h1 a {
              display: block;
              width: 300px;
              height: 80px;
            }
    .span5.offset1
      .well
        %ul.nav.nav-list
          %li.nav-header education
          %li
            %i.icon-book
            Graduated from Lorem Ipsum University
          %li
            %i.icon-pencil
            Bachelor of Fine Arts
          %li.nav-header awards
          %li
            %i.icon-user
            Award for excellence in foobar