%section#authed-programmers
  %header
    %h1.sect-head.bg-red Programmers - Share your projects!
  .row
    .span5
      %h2 Your Projects
      %div.projects
        %div.progress.progress-striped.active#project-progress-bar
          %div.bar
      %p
        
    .span5.offset1
      %h2 Sharing Projects
      %span
        Select the Github project you want to share with a 
        %em reviewer.
        Then enter their email address in the field and hit
        %em Share!
      %br
      = @mysession.to_yaml