%section
  %header
    %h1.sect-head.bg-red Programmers - Grant access to your GitHub Projects!
  .row
    .span5
      %h2 Large title
      %p
        As a programmer, please auth to github and start granting access to your projects!
      %p
        Processor device adaptive includes recognition cable, servicing plasma gigabyte, servicing with, sampling. Prototype infrared logistically overflow femtosecond overflow logistically encapsulated ethernet. Transponder sampling sampling in floating-point broadband. Bus device with partitioned pulse infrared debugged recursive. Transmission developer application high cascading for video, port proxy. Bridgeware bridgeware, messaging application generator inversion phaselock cache normalizing prompt proxy distributed. Prompt, reducer metafile procedural, internet processor services plasma partitioned potentiometer.
    .span5.offset1
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      = form_tag("/",method:"post") do
        %input#email
        %button#Authenticate Authenticate
      %br
        .row
          .span3
            %address
              %strong Twitter, Inc.
              %br
                795 Folsom Ave, Suite 600
                %br
                  San Francisco, CA 94107
                  %br
                    %abbr{:title => "Phone"} P:
                    (123) 456-7890
          .span2
            %address
              %strong Full Name
              %br
                %a{:href => "mailto:#"} first.last@gmail.com