%section#home-programmers
  %header
    %h1.sect-head.bg-red Programmers - Grant access to your GitHub Projects!
  .row
    .span5
      %h2 Large title
      %p
        Processor device adaptive includes recognition cable, servicing plasma gigabyte, servicing with, sampling. Prototype infrared logistically overflow femtosecond overflow logistically encapsulated ethernet. Transponder sampling sampling in floating-point broadband. Bus device with partitioned pulse infrared debugged recursive. Transmission developer application high cascading for video, port proxy. Bridgeware bridgeware, messaging application generator inversion phaselock cache normalizing prompt proxy distributed. Prompt, reducer metafile procedural, internet processor services plasma partitioned potentiometer.
    .span5.offset1
      %h2 Authenticate Here
      %h4 Please auth to github and start granting access to your projects!
      %br
      = form_tag("/programmer_auth",method:"post",name:"ghgp_auth") do
        %input#email{type:"text", name:"username", placeholder:"Your Email"}
        %input#password{type:"password", name:"password", placeholder:"Your GH Password"}
        %button Authenticate