%section
  %header
    %h1.sect-head.bg-blue Reviewers - View projects you have read-access to
  .row
    .span5
      .page-header
        %h1 Article title
        %em posted by Anon on 1st January, 2012
      %p
        Prototype developer disk video prompt logistically, encapsulated digital.
        Floating-point indeterminate hyperlinked logarithmic integer audio. Partitioned phaselock supporting developer hyperlinked procedural integral plasma. Resistor logarithmic, sampling potentiometer application, record software cascading device, infrared prototype backbone potentiometer reducer.
        %br
          %br
            Transponder phaselock fragmentation
            = succeed "," do
              %em logistically
            prompt port prototype transistorized pulse system extended. Record partitioned logarithmic logarithmic prompt bridgeware.
            
            Silicon cable bridgeware encapsulated or transmission, silicon bus, pc includes network backbone, controller internet.
            
            Recursive transistorized inversion disk cable includes, transistorized, arrray interface frequency gigabyte overflow, reflective device. Broadband bypass led led partitioned patch transponder phase prompt recursive bridgeware port potentiometer. Partitioned, developer for port adaptive audio n-tier.
      %h2 Different stuff
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      %h3 Sub-point maybe
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    .span5.offset1
      .row
        %header
          %img.span2{:src => "http://placehold.it/150x150"}
            %aside.span3
              %h2 Article title
              %em posted by Anon on 1st January, 2012
              %p.tp Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              %a{:href => "#"} Read more
      %hr.soften
        .row
          %header
            %img.span2{:src => "http://placehold.it/150x150"}
              %aside.span3
                %h2 Article title
                %em posted by Anon on 1st January, 2012
                %p.tp Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                %a{:href => "#"} Read more
        %hr.soften
          .row
            %header
              %img.span2{:src => "http://placehold.it/150x150"}
                %aside.span3
                  %h2 Article title
                  %em posted by Anon on 1st January, 2012
                  %p.tp Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "#"} Read more