// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Modified by Jesse Smith to remove the space for the static header bar at the top of the page */
body {
	padding-top: 0px;
}
.projects {
	display: inline-block;
}
#project-progress-bar {
	width:247px;
}